<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headstuff" lang="en">
<!--<head th:replace="fragments/base::headstuff" lang="en">-->
    <meta charset="UTF-8"/>
    <title th:text="${title}">Add actors to Movie</title>
</head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"/>

<body>

<nav th:fragment="thenavbar" class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">

            <a class="navbar-brand" href="#">The Movie Database</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li ><a th:href="@{/addmovie}">Add a Movie</a></li>
            <li ><a th:href="@{/addactor}">Add an actor</a></li>
            <li ><a th:href="@{/about}">About the project</a></li>
        </ul>


    </div>



</nav>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>